version: '3.8'

services:
  android-api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: android-cloud-api
    
    ports:
      - "3011:3011"
    
    environment:
      NODE_ENV: production
      PORT: 3011
      DOMAIN: 167.86.72.198
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    
    restart: unless-stopped
    
    networks:
      - android-network

networks:
  android-network:
    driver: bridge
